body {
    font-family: "Titillium Web","Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif;
    background: #6ccfe3;
}

.arimo__container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    margin-right: 2.35765%;
    width: 14.70196%;
    height: 100%;
    position: relative;
}

.pg-demo .arimo__container__form h3, .pg-demo .arimo__container__form p {
    width: 45%;
}

.header__logo svg#arimo-logo #arimo-logo__upperstroke {
    fill: #B41E1E;
}

.header__logo svg#arimo-logo #arimo-logo__lowerstroke {
    fill: #FA6428;
}

.arimo__container__form {
    margin: 5% 0;
    min-height: 620px;
    background: url(/img/bg-request-demo@2x.png) right 70%/55% auto no-repeat;
}

.pg-demo h3 {
    font-size: 2rem;
    letter-spacing: 0;
    font-weight: 300;
    margin: 0;
}

.pg-demo .heading {
    margin-bottom: 30px;
}

.pg-demo form {
    font-size: .75rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40%!important;
    min-height: 20rem;
}

.pg-demo form.mktoForm .mktoFormRow {
    margin-bottom: 1rem;
}

.pg-demo form > div.mktoFormRow .mktoFormCol {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(4) .mktoFormCol {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

.pg-demo form>div.mktoFormRow .mktoFormCol:nth-child(2) {
    margin-right: 0!important;
}

.pg-demo form>div.mktoFormRow label {
    width: 100%!important;
    margin-bottom: 0.5em;
}

.pg-demo form.mktoForm .mktoGutter, .pg-demo form.mktoForm .mktoOffset {
    display: none;
}

.pg-demo form.mktoForm .mktoClear {
    display: none;
    clear: none;
}

.pg-demo form>div.mktoFormRow input[type=text], .pg-demo form>div.mktoFormRow input[type=email], .pg-demo form>div.mktoFormRow input[type=tel], .pg-demo form>div.mktoFormRow textarea {
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    line-height: 2.25rem;
    height: 2.25rem;
    font-family: "Titillium Web","Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif;
    padding: 0 .75rem;
    color: #7a7a7a;
    font-size: .875rem;
    outline: 0;
    width: 100%!important;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(4) .mktoFormCol input {
    width: 100%;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(4) .mktoFieldWrap {
    float: none;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(5) {
    margin-bottom: 0;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(5) .mktoFormCol {
    float: none;
    width: 100%;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(5) .mktoFormCol .mktoLabel {
    width: 180px !important;
}

.pg-demo form.mktoForm .mktoFormRow:nth-child(5) .mktoFormCol input {
    margin-top: 2px;
}

.pg-demo form.mktoForm .mktoHtmlText {
    width: 200%!important;
}

.pg-demo form ul {
    padding: 0;
    color: black;
    list-style: inside;
}

.pg-demo form.mktoForm .mktoButtonWrap {
    margin: 0!important;
}

.pg-demo form button {
    border-radius: 4px;
    width: 200px;
    color: #fff;
    background: #E1241B;
    padding: 9px 8px;
    border: none;
    outline: 0;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-weight: 700;
    letter-spacing: 1px;
}

