body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: #f4f4f6;
}

* {
    box-sizing: border-box;
}

.vddf-directory header {
    border-bottom: 1px solid #D9D9D9;
    padding: 16px 28px;
}

.vddf-directory header .title {
    width: 120px;
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
}

.vddf-directory header h1 {
    color: #07AE88;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    margin: 0;
    display: inline-block;
}

.vddf-directory .search-input {
    background: #FFFFFF;
    border-radius: 4px;
    height: 44px;
    display: inline-block;
    width: calc(100% - 136px);
    vertical-align: middle;
    line-height: 44px;
}

.vddf-directory .search-input .icon {
    text-align: center;
    width: 56px;
    display: inline-block;
}

.vddf-directory .search-input span {
    vertical-align: middle;
}

.vddf-directory .search-input input {
    font-size: 16px;
    border: 0;
    color: #9B9B9B;
    height: 44px;
    width: calc(100% - 56px);
    outline: none;
    padding: 0;
}

.vddf-directory .sql-input-container {
    background: #FFFFFF;
    border-radius: 4px;
    height: 44px;
    display: inline-block;
    width: calc(100% - 136px);
    vertical-align: middle;
    position: relative;
}

.vddf-directory .sql-input {
    left: 0;
    right: 0;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
    border-radius: 4px;
    z-index: 100;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}

.vddf-directory .sql-input .run-button {
    position: absolute;
    right: 12px;
    top: 64px;
    z-index: 20;
}

.vddf-directory .sql-input .error-message {
    background: #f2dede;
    color: #a94442;
    padding: 8px;
    height: 40px;
}

.vddf-directory .profile {
    text-align: right;
}

.vddf-directory .profile img {
    display: inline-block;
}

.vddf-directory .chart-list {
    padding: 16px 0;
    width: 1264px; /* 4 charts per line */
    margin: 0 auto;
}

.vddf-directory .vddf-chart-preview {
    border: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border-radius: 0 0 2px 2px;
}

.vddf-directory .vddf-chart-preview .title {
    padding: 16px;
    border-top: 1px solid #D9D9D9;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vddf-directory .detail-view-container {
    position: relative;
    top: -12px;
}

.vddf-directory .detail-view {
    /* width: calc(100% - 16px); */
    padding-top: 16px;
    background: #4A4A4A;
    margin-bottom: 4px;
    overflow: hidden;
}

.vddf-directory .detail-arrow {
    width: 0; 
	  height: 0; 
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	  border-bottom: 20px solid #4A4A4A;
}

.slidedown-appear {
    max-height: 1;
}

.slidedown-appear.slidedown-appear-active {
    max-height: 500px;
    transition: max-height .3s linear;
}

#sql-box .ace_line,
#sql-box .ace_gutter-cell {
    line-height: 28px;
}
